[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoquery = "1.3"

[dev-packages]
pre-commit = "*"
pylint = "*"
commitizen = "*"

[requires]
python_version = "3.9"
